.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: #191414; */
    color: white;
    padding: 0 3rem;
}

.navbar-leftside {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.navbar-leftside a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.navbar-leftside  img {
    width: 40px;
    height: auto;
    padding-top: 3px;
}

.navlinks {
    display: flex;
    gap: 2rem;
}

.navlinks a:hover {
    color: #1DB954;
    transition: 0.4s;
}